#landing-banner-container {
    width: 100%;
    background-image: url("http://img.khan.co.kr/news/2019/09/07/2019090601000811800063961.jpg");
    background-position: center;
    background-size: cover;
    padding: 24px;
    min-height: 380px;
    opacity: 0.85;
}

@media (max-width: 500px) {
    #landing-banner-container {
    }
}

#landing-banner-container:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.landing-banner-text-container {
    text-align: center;
    font-size: 38px;
    color: #ffffff;
    line-height: 25px;
    margin: 70px auto 70px auto;
    font-weight: 600;
}

@media (max-width: 500px) {
    .landing-banner-text-container {
        text-align: center;
        font-size: 28px;
        color: #ffffff;
        line-height: 25px;
        margin: 70px auto 70px auto;
        font-weight: 600;
    }
}

.landing-search-container {
    width: 100%;
    margin: 0 auto 70px auto;
}

@media (max-width: 500px) {
    .landing-search-container {
    }
}

.landing-card-container {
    margin-bottom: 50px;
}

@media (max-width: 500px) {
    .landing-card-container {
    }
}

.landing-card-col {
    opacity: 0.9;
}

.landing-card-col:hover {
    opacity: 0.5;
    cursor: pointer;
}

.landing-card-title-row {
    margin-top: 25px;
    margin-bottom: 25px;
}

@media (max-width: 500px) {
    .landing-card-title-row {
    }
}

.landing-card-title-text {
    color: black;
    font-size: 25px;
}

@media (max-width: 500px) {
    .landing-card-title-text {
        color: black;
        font-size: 22px;
    }
}

.landing-card-image {
    max-width: 1000px;
    max-height: 200px;
    height: auto;
    object-fit: cover;
}

@media (min-width: 375px) and (max-width: 500px) {
    .landing-card-image {
        max-width: 250px;
        max-height: 50px;
        height: auto;
        object-fit: cover;
    }
}

@media (max-width: 374px) {
    .landing-card-image {
        max-width: 200px;
        max-height: 40px;
        height: auto;
        object-fit: cover;
    }
}

.landing-card-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.landing-card-text {
    color: white;
    font-size: 40px;
    font-weight: 800
}

@media (max-width: 500px) {
    .landing-card-text {
        color: white;
        font-size: 12px;
        font-weight: 800
    }
}
