#landing-banner-container {
    font-size: 20px;
    width: 100%;
    background-image: url("http://img.khan.co.kr/news/2019/09/07/2019090601000811800063961.jpg");
    background-position: center;
    background-size: cover;
    padding: 24px;
    min-height: 380px;
}

#landing-banner-container:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.9;
}

.landing-banner-text-container {
    text-align: center;
    font-size: 38px;
    color: white;
    line-height: 25px;
    margin: 70px auto 70px auto;
    font-weight: 800;
}

.landing-search-container {
    width: 100%;
    margin: 0 auto 70px auto;
}
